* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    /* margin-top: 80px; */
}
  
a {
    text-decoration: none;
    color: white;
}
  
ul {
    list-style: none;
}
  
.container {
    width: 90%;
    margin: auto;
}

/* BTN-WHATSAPP */
.btn-wts {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 50000;
    cursor: pointer;
}

.btn-wts img {
    max-width: 100%;
}

/*NAVBAR*/
.contenedor-color {
    background-color: rgba(47, 54, 64, 0.8)
}

.contenedor-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    transition: background-color 1s;
}

.navbar {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px 0;
}

.nav-izq {
    display: flex;
    align-items: center;
}

.nav-izq img {
    width: 40%;
}

.navbar-nav {
    display: flex;
}

.nav-item {
    padding: 10px;
}

.nav-item a {
    padding: 2px;
    font-size: 1.2rem;
}

.nav-item a:hover {
    border-bottom: 2px solid white;
}

/* Responsive Button */
.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 200000;
    display: none;
}

/*Masthead*/
.masthead {
    height: 100vh;
    min-height: 400px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/inicio.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
}

.masthead img {
    padding-bottom: 20px;
    max-width: 90%;
}

.masthead h1 {
    font-size: calc(1em + 1vw)
}

.masthead p {
    padding: 15px;
    width: 80%;
    text-align: justify;
}

/*Cabina satinizante*/
.container-slide {
    width: 90%;
    display: flex;
    margin: auto;
    margin-top: 30px;
}

.contenedor{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.img-principal {
    width: 100%;
}

.img-principal img {
    max-width: 100%;
}

.text-cabina {
    width: 50%;
    text-align: center;
}

.img-sec {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.img-sec img {
    max-width: 30%;
}

.img-sec .activ {
    opacity: 0.3;
}

.text-cabina h1 {
    padding-top: 20px;
    color: #222021;
}

.text-cabina li {
    margin-top: 20px;
    color: #222021;
    padding: 5px;
    text-align: justify;
    width: 90%;
}

/*Trabajos y oficios*/
.bg-oficios{
    background-color: #e0e0e0;
    padding-bottom: 20px;
}

.titulo-oficios {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.titulo-oficios h1 {
    color: #169FDB;
    font-style: italic;
    font-size: calc(1em + 3vw)
}

.oficios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 70px 0;
    text-align: center;
}

.oficios img {
    width: 60%;
}
  
.oficios h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #222021;
}
  
.oficios p {
    padding: 10px 0;
    color: #222021;
    display: inline-block;
}

/* SLIDER */
@keyframes slidejs {
    0%, 85% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    100% {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
}

.slide {
    width: 100%;
    position: relative;
    height: 60vh;
}

.slide img {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
}

.slideAnimado {
    animation-name: slidejs;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/*Contacto*/
.contacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #169FDB;
    margin-bottom: 50px;
}

.col-grid {
    width: 90%;
    margin: auto;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content:  center;
}

.titulo h3 {
    padding: 25px 15px;
    font-size: calc(1em + 1vw);
}

.col-grid p {
    padding: 5px 0px;
    font-size: 1.2rem;
    color: #2f3640
}

.redes {
    display: flex;
    justify-content: space-around;
}

.redes a {
    padding-right: 20px;
    text-decoration: none;
}

.redes img {
    width: 50px;
}

.redes img:last-child {
    border-radius: 50%;
}

.col-grid iframe {
    width: 100%;
    height: auto;
}

.logoCont {
    max-width: 100%;
    display: none;
    margin: auto;
    align-items: center;
}

/*Formaulario*/
.form-signin {
    font-family: 'Roboto Condensed';
    width: 100%;
    color: #169FDB;
}

.form-group {
    margin-top: 20px;
}

.form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #2f3640;
    color: inherit;
    width: 100%;
    height: 40px;
}

.form-control:focus {
    outline: none;
}

.form-control::placeholder {
    color: #2f3640;
    font-size: 1rem;
    padding-left: 10px;
}

.btn {
    background: #2f3640;
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    text-transform: uppercase;
    color: white;
    width: inherit;
    cursor: pointer;
    display: flex;
    margin-left: auto;
}

/*Footer*/
.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.footer-distributed .footer-left p{
    color:  #8f9296;
    font-size: 14px;
    margin: 0;
}

.footer-distributed p.footer-links{
    font-size:18px;
    font-weight: bold;
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed p.footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-right{
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
}

/*Modal fade*/
.mascara,
.modal-galeria {
    display: none; 
    position: fixed; 
    z-index: 100000; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0,0,0,0.8); 
}
.contenido,
.modal-galeria-contenido {
    position: fixed;
    left: 10vw;
    right: 10vw;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: auto;
    color: black;
    animation: modal 1s;
}

.contenido {
    top: 15vh;
    max-width: 450px;
}

.modal-title,
.modal-galeria-title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.modal-title img,
.modal-galeria-title img {
    width: 70px;
}

.modal-body p {
    margin: 15px 0px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.modal-footer button {
    border: none;
    padding: 5px 25px;
    border-radius: 15px;
    background-color: #169FDB;
    color: white;
    cursor: pointer;
}

/* MODAL GALERIA */
.modal-galeria-contenido {
    top: 5vh;
}

.modal-galeria-title {
    text-transform: uppercase;
}

.cerrar {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    margin-left: auto;
}

.cerrar:hover,
.cerrar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-galeria-body {
    width: 90%;
    height: 350px;
    display: flex;
    margin: 15px auto;
    align-items: center;
}

.modal-galeria-body i {
    font-size: 3rem;
    color: #2f3640;
}

.modal-galeria-body i:hover {
    color: #fefefe;
    cursor: pointer;
}

.modal-galeria-body i:first-child {
    transform: translateX(120%);
}

.modal-galeria-body i:last-child {
    transform: translateX(-120%);
}

.galeria-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.modal-galeria-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-galeria-footer img {
    margin-top: 15px;
    max-width: 40%;
}

@keyframes modal {
    0% {
        transform: translateY(-150%);
    }
}

@media screen and (max-width:1000px){
    .slide {
        height: 40vh;
    }
}

@media screen and (max-width:900px){
    .container-slide{
        flex-direction: column;
    }

    .contenedor {
        width: 100%;
    }

    .text-cabina {
        width: 100%;
    }

    .row {
        flex-direction: column;
    }
}

@media (max-width: 850px) {
    .contacto {
        grid-template-columns: repeat(2, 1fr);
    }

    .oficios {
        grid-template-columns: repeat(2, 1fr);
    }

    .logoCont {
        display: flex;
    }
}

@media (max-width: 650px) {
    .contacto {
        grid-template-columns: repeat(1, 1fr);
    }
    .col-grid {
        margin-top: 15px;
    }
}

@media (max-width: 700px) {
    .menu-btn {
      display: block;
    }
  
    .menu-btn:hover {
      opacity: 0.5;
    }
  
    .navbar ul.navbar-nav {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: #2f3640;
      width: 50%;
      height: 100vh;
      border-right: #ccc 1px solid;
      opacity: 0.9;
      padding: 30px;
      transform: translateX(-500px);
      transition: transform 0.5s ease-in-out;
      margin-top: 80px;
      z-index: 20000;
    }
  
    .navbar ul.navbar-nav li {
      padding: 20px;
      border-bottom: #ccc solid 1px;
      font-size: 14px;
    }
    .navbar ul.nav-menu li:last-child {
      border-bottom: 0;
    }
  
    .navbar ul.navbar-nav.show {
      transform: translateX(-20px);
    }
  
    .navbar ul.navbar-nav {
      margin-right: 50px;
    }

    .slide {
        height: 30vh;
    }
}

@media screen and (max-width:600px){
    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
        text-align: center;
    }

    .footer-distributed .footer-right{
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links{
        line-height: 1.8;
    }
    .slide {
        height: 20vh;
    }
    .modal-galeria-contenido {
        left: 5vw;
        right: 5vw;
    }
    .modal-galeria-body {
        margin: 15px 0;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .oficios {
      grid-template-columns: 1fr;
    }
}